@import url("https://fonts.googleapis.com/css?family=Staatliches");

.navbar-brand,
.navbar-nav a {
  font-family: "Staatliches", cursive;
  font-size: 17px;
  color: #8c968e;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.App {
  font-size: 12px;
}

input[type="text"] {
  font-size: 12px;
}

.App {
  text-align: left;
}

.App-header {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  color: black;
}
.App-header .logout-wrapper  {
  display: grid;
  margin: auto;  
}

.App-link {
  color: #61dafb;
}

.listItem:hover {
  color: rgb(180, 180, 230);
}

table td {
  vertical-align: middle !important;
}

.selected {
  background: rgba(155, 104, 160, 0.219);
}
