.App {
  text-align: left;
}

.App-header {
  background-color: white;
  /*  min-height: 100vh; */
   display: inline-block;
  
  justify-content: center;
  /* font-size: calc(5px + 2vmin);
   */color: black;
  /* */
}
.ingredientList {
  margin: 2px;
  border: 1px groove rgb(221, 224, 215);
}
.inputForm { 
  float: left;
  border-radius: 2%;
  border: 1px groove rgb(221, 224, 215);
  
  margin: 2px;
  padding: 5px;
}
.newIngredient {
  margin: 0px;
}
.listItem:hover {
  color: rgb(180, 180, 230);
}
.App-link {
  color: #61dafb;
}
.ingredientGrid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.ingredientList {
  list-style-type: none;
}
.newIngredient {
  align-self: start;
}

.ingButtons {
  
}

