body { font: 14px/1.4 Helvetica, sans-serif; letter-spacing: 0.3px;}
#coListGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  margin: 17px;
}

#customerOrderGrid { 
  margin: 5px;
}

.newCO {
  margin: 2px;
}
.coButtons {
  grid-row-start: 2;
}

@media print {
  .delete {
    display: none !important;
  }
  #coListGrid {
    grid-template-columns: 1fr;
    margin: 5px;
  }
}

