.ingredientList {
  margin: 2px;
  border: 1px groove rgb(221, 224, 215);
}
.inputForm {
  float: left;
  border-radius: 2%;
  border: 1px groove rgb(221, 224, 215);

  margin: 2px;
  padding: 5px;
}
.newIngredient {
  margin: 0px;
}

.ingredientGrid {
  display: grid;
  grid-template-columns: 2fr 6fr;
}
.ingredientList {
  list-style-type: none;
}
.newIngredient {
  align-self: start;
}

.ingButtons {
  grid-row-start: 2;
}

button + button {
  margin: .5rem;
}
