.login-wrapper {
  display: grid;
  border-style: dashed;
  border-width: 0.5px;
  border-radius: 10px;
  border-color: rgb(143, 155, 167);
  margin: auto;
  padding: 25px;
}

.login-wrapper input {
  margin-top: 7px;
  margin-bottom: 5px;
}

.login-wrapper button { 
  margin-top: 15px;
  margin-bottom: 10px;
}