
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

#poListGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 5px;
}

.newPO {
  margin: 2px;
}
.poButtons {
  grid-row-start: 2;
}
#purchaseOrderGrid {
  margin: 5px;
}

td button {
  visibility: hidden !important;
  color: red;
  background-color: white;
  border: none;
}

tr:hover td button {
  visibility: initial !important;
}

@media print {
  .delete {
    display: none !important;
  }
  #poListGrid {
    grid-template-columns: 1fr;
    margin: 5px;
  }
}
