#poListGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.newPO {
  margin: 2px;
}
.poButtons {
  grid-row-start: 2;
}
#purchaseOrderGrid {
  margin: 5px;
}

td button {
  visibility: hidden !important;
  padding: 2px !important;
  border: 0px !important;
  margin: 0 !important;
}

tr:hover td button {
  visibility: initial !important;
}

@media print {
  .delete {
    display: none !important;
  }
  #poListGrid {
    grid-template-columns: 1fr;
    margin: 5px;
  }
}
