
#workOrderList {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-gap: 10px;
    margin: 17px;
}

#woForm {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 5px;
}

button + button {
  margin: .5rem
}
