.App {
  text-align: left;
}

.App-header {
  background-color: white;
  /*  min-height: 100vh; */
   display: grid;
   grid-template-columns: 1fr;
  
  justify-content: center;
  /* font-size: calc(5px + 2vmin);
   */color: black;
  /* */
}

.App-link {
  color: #61dafb;
}

.listItem:hover {
  color: rgb(180, 180, 230);
}